.modalFormContato {
    /* width: fit-content; */
    align-items: center;
    max-width: 500px;
}

.formLabels {
    border: 3px;
    padding: 3px;
}

.formularioContato {
    padding: 5px;
    text-align: center;
}

.titulo {
    text-align: center;
}

.itemsDivBotoes {
    text-align: center;
    align-items: center;
    align-content: center;
}