.tudo{
  background-color: rgb(56, 40, 40);
}

.carouselHomeBanner{
  background-color: #f6ebc3;
  color: #a1d79d;
}

#carouselHomeBanner{
  max-width: 900px;

}

/* .divCarousel {
  max-width: 1000px;

} */

.tituloIconesRedondos{
  background-color: #f6ebc3;
  color: #c48013;
}

.categoryIconText {
  color:#f6ebc3;
  text-size-adjust: 10px;
}

.rounded-circle{
  max-width: 150px;
}