#carouselHomeBanner{
  background-color: carouselHomeBanner#f6ebc3;
  size: 1000px;
  color: #a1d79d;

}

.carouselHomeBanner{
  background-color: carouselHomeBanner#f6ebc3;
  size: 1000px;
  color: #a1d79d;

}

.tudo{
  background-color: rgb(56, 40, 40);
  size: 1000px;
}

.tituloIconesRedondos{
  background-color: #f6ebc3;
  color: #c48013;
}

.categoryIconText {
  color:#f6ebc3;
}