#headerTodo {
  background-color: rgb(56, 40, 40);
  padding: 10px;
}


.linhaBotoes {
  vertical-align: middle
}

.modalFormContato {
  text-align: center;
  align-items: center;
  align-content: center;

}

.logoCasa{
  max-width: 125px;
}